/* for layout purposes:

.listContainer {
    background-color: blue;
}

.listStack {
    background-color: blueviolet;
}

.listComponentTitle {
    background-color: aquamarine;
}

.listGrid {
    background-color: black;
} */